<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>支付成功</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!--删除默认的苹果工具栏和菜单栏-->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<!-- 作用是控制状态栏显示样式-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<!--Safari在iPhone上自动识别任何可能是电话号码的字符串-->
	<meta name="format-detection" content="telephone=no"/>
	<!--浏览器会在加载网页时对网页中的域名进行解析缓存，这样在你单击当前网页中的连接时就无需进行 DNS 的解析-->
	<meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="stylesheet" type="text/css" href="https://m.jyallpay.com/qrpay/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="https://m.jyallpay.com/qrpay/css/paySuccess.css"/>
</head>
<body>
	<div class="banner">
		<a href="https://m.jyallpay.com/qrpay/wx/authInit?componentAppid=wx1578b2ad9c4a75fc" target="_blank">点我授权</a>
	</div>
</body>
</html>